<div class="yoProgramo">
  <div class="logo">>_</div>
  <p class="curso">#YoProgramo</p>
</div>
<div class="iconos-container">
  <a href="{{ Facebook.link }}" target="_blank" class="icono">
      <img src="../../../assets/icons/facebook.png" />
  </a>
  <a href="{{ Instagram.link }}" target="_blank" class="icono"
    ><img
      src="../../../assets/icons/instagram.png"
  /></a>
  <a href="{{ GitHub.link }}" target="_blank" class="icono"
    ><img src="../../../assets/icons/github.png"
  /></a>
  <a href="{{ LinkedIn.link }}" target="_blank" class="icono"
    ><img src="../../../assets/icons/linkedin.png"
  /></a>
  <div href="" class="menu-icono">
    <img
      src="../../../assets/icons/menu.png"
    />
    <ul class="desplegables">
      <li>Login</li>
      <li>
        <input type="text" name="usuario" placeholder="Usuario" />
      </li>
      <li>
        <input type="password" name="password" placeholder="Contraseña" />
      </li>
      <li>
        <button type="submit" class="boton">enviar</button>
      </li>
      <li>
        <a href="">olvide mi contraseña</a>
      </li>
    </ul>
  </div>
</div>
