<div class="grid-portfolio">
  <app-header class="header"> </app-header>
  <app-perfil class="perfil"> </app-perfil>
  <app-experiencia class="experiencia"> </app-experiencia>
  <app-estudios class="estudios"> </app-estudios>
  <app-habilidades class="skills"> </app-habilidades>
  <app-proyectos class="proyectos"> </app-proyectos>
  <script>
    // crearProyecto();
  </script>
  <app-footer class="footer"> </app-footer>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script>
  <script src="scripts/carrusel.js"></script>
</div>
